In [8]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame({'A': ['0', '0', '1'], 'B': ['1', '2', '3']})
name =[x for x in globals() if globals()[x] is df][0]
print("asdf %s" % name)

 df

In [5]:
df_copy = df.copy()
df_copy

   A  B
0  0  1
1  0  2
2  1  3

In [16]:
group_value = pd.DataFrame(columns = ['number'])
for group, frame in df_copy.groupby('A'):
    number = len(frame)
    group_value.loc[group] = number
group_value

  number
0      2
1      1

In [1]:
a = 'as'
b = a - 's'
b

TypeError: unsupported operand type(s) for -: 'str' and 'str'