In [7]:
import pandas as pd
import numpy as np
data = pd.read_csv('159 indicators for all the countries 2000 to 2016.csv')
data = data.drop(columns = {'Country Code', 'Indicator Code','Unnamed: 0'})
# data
def uni_gender(data):
    for index, row in data.iterrows():
        if ', male ' in row['Indicator Name']:
            data.set_value(index, 'Indicator Name', row['Indicator Name'].replace('male', ' '))            
            data.set_value(index, 'Gender', 'M')
        elif ', female ' in row['Indicator Name']:
            data.set_value(index, 'Indicator Name', row['Indicator Name'].replace('female', ' '))
            data.set_value(index, 'Gender', 'F')
        else:
            data.set_value(index, 'Gender', 'N')
    return data 
data = uni_gender(data)
# data

c:\python36\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':
c:\python36\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
c:\python36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
c:\python36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
c:\python36\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,number of countries,Gender
0,Arab World,"Adjusted net enrollment rate, primary, (% of...",73.275620,75.132980,76.641022,77.653580,78.485397,79.475769,79.608330,80.582420,...,82.871651,82.861389,84.401413,83.914032,83.820831,NaN,NaN,NaN,223,F
1,Caribbean small states,"Adjusted net enrollment rate, primary, (% of...",93.758873,92.869598,92.252808,92.027557,93.611488,93.517563,93.021721,93.143600,...,93.679657,93.752937,93.407738,92.724808,NaN,NaN,NaN,NaN,223,F
2,Central Europe and the Baltics,"Adjusted net enrollment rate, primary, (% of...",95.659027,95.794853,95.854279,95.919563,95.728073,95.430458,95.440002,96.188240,...,97.003021,96.611633,96.336021,95.973099,95.878433,NaN,NaN,NaN,223,F
3,Early-demographic dividend,"Adjusted net enrollment rate, primary, (% of...",79.231354,80.330177,81.186440,85.159439,86.620583,88.122643,89.345901,91.276978,...,92.821404,93.300209,93.378868,93.688660,93.560097,NaN,NaN,NaN,223,F
4,East Asia & Pacific,"Adjusted net enrollment rate, primary, (% of...",94.710747,95.185143,97.313599,97.009399,97.015167,94.883293,94.409889,95.490082,...,96.238548,96.734039,96.449081,96.227287,96.194817,NaN,NaN,NaN,223,F
5,East Asia & Pacific (excluding high income),"Adjusted net enrollment rate, primary, (% of...",94.395027,94.905861,97.202377,96.847282,96.861748,94.551651,94.023903,95.171989,...,96.001892,96.531914,96.232513,96.043900,96.009018,NaN,NaN,NaN,223,F
6,East Asia & Pacific (IDA & IBRD),"Adjusted net enrollment rate, primary, (% of...",94.373123,94.887177,97.203827,96.845329,96.860153,94.528511,93.995071,95.153664,...,95.991371,96.526779,96.224411,96.031593,95.996513,NaN,NaN,NaN,223,F
7,Euro area,"Adjusted net enrollment rate, primary, (% of...",99.432869,99.330177,99.255722,99.036850,98.748871,98.637062,98.663101,98.937714,...,99.137741,99.024879,99.181648,99.140556,98.866081,NaN,NaN,NaN,223,F
8,Europe & Central Asia,"Adjusted net enrollment rate, primary, (% of...",96.254440,97.069138,97.570908,97.263680,97.288101,96.472656,96.606277,96.733353,...,97.232780,97.306313,97.251869,97.291008,97.032494,NaN,NaN,NaN,223,F
9,Europe & Central Asia (excluding high income),"Adjusted net enrollment rate, primary, (% of...",92.998520,94.678177,95.880028,95.413696,96.054420,94.259750,94.460190,94.707741,...,95.028137,95.221443,94.956223,94.995491,94.664413,NaN,NaN,NaN,223,F
10,Europe & Central Asia (IDA & IBRD),"Adjusted net enrollment rate, primary, (% of...",93.369537,94.882278,95.912781,95.480949,96.002502,94.398689,94.602020,94.840363,...,95.212624,95.395241,95.188141,95.234032,94.932793,NaN,NaN,NaN,223,F
11,European Union,"Adjusted net enrollment rate, primary, (% of...",98.653687,98.676117,98.667870,98.592163,98.271149,98.189598,98.175591,98.200546,...,98.764862,98.702660,98.758133,98.665878,98.489517,NaN,NaN,NaN,223,F
12,Fragile and conflict affected situations,"Adjusted net enrollment rate, primary, (% of...",52.773399,54.510521,57.195530,59.407349,61.179039,61.870941,63.484581,64.812408,...,68.428726,69.521591,71.945930,71.821968,73.000732,NaN,NaN,NaN,223,F
13,Heavily indebted poor countries (HIPC),"Adjusted net enrollment rate, primary, (% of...",49.500938,52.309921,56.012161,59.130661,62.057121,64.728371,67.382301,69.390266,...,73.323387,74.871628,76.430260,77.681122,78.576210,NaN,NaN,NaN,223,F
14,High income,"Adjusted net enrollment rate, primary, (% of...",97.119881,97.212807,96.803909,96.621162,96.287491,96.568062,97.065529,97.367310,...,97.130623,96.962669,96.966263,96.794563,96.934563,97.357094,NaN,NaN,223,F
15,IBRD only,"Adjusted net enrollment rate, primary, (% of...",88.700851,89.373772,90.748207,93.355118,94.247498,93.830933,94.227219,95.380211,...,96.346359,96.407547,96.414726,96.304962,96.173042,NaN,NaN,NaN,223,F
16,IDA & IBRD total,"Adjusted net enrollment rate, primary, (% of...",80.257957,80.945923,82.290192,84.616158,86.034477,86.197533,86.804588,88.033401,...,88.936943,89.241608,89.467590,89.523277,89.555168,NaN,NaN,NaN,223,F
17,IDA blend,"Adjusted net enrollment rate, primary, (% of...",65.739182,65.968651,65.875961,66.710991,68.668777,69.518532,69.380478,71.206352,...,71.935547,71.744568,71.916321,71.399773,72.112671,NaN,NaN,NaN,223,F
18,IDA only,"Adjusted net enrollment rate, primary, (% of...",57.804668,59.896790,62.911919,66.108803,68.580704,70.934753,73.202179,74.979652,...,77.257782,78.805222,79.936028,80.805458,81.196167,NaN,NaN,NaN,223,F
19,IDA total,"Adjusted net enrollment rate, primary, (% of...",60.524239,61.961159,63.911339,66.309753,68.609749,70.473083,71.972008,73.778259,...,75.605659,76.622292,77.454552,77.889931,78.367790,NaN,NaN,NaN,223,F
20,Late-demographic dividend,"Adjusted net enrollment rate, primary, (% of...",95.150436,95.522537,97.864502,97.473091,97.921669,95.969139,95.327682,95.870049,...,96.562500,96.545738,96.590942,96.252510,96.443352,NaN,NaN,NaN,223,F
21,Latin America & Caribbean,"Adjusted net enrollment rate, primary, (% of...",95.617821,95.636192,95.576233,94.580818,95.069069,95.586281,95.055168,94.605759,...,95.819229,95.635872,95.308609,94.404739,94.198311,NaN,NaN,NaN,223,F
22,Latin America & Caribbean (excluding high income),"Adjusted net enrollment rate, primary, (% of...",95.640343,95.678123,95.625900,94.619972,94.996613,95.562302,95.008583,94.542137,...,95.846230,95.710472,95.380074,94.453201,94.225212,NaN,NaN,NaN,223,F
23,Latin America & Caribbean (IDA & IBRD),"Adjusted net enrollment rate, primary, (% of...",95.617477,95.651413,95.594040,94.603989,95.106117,95.628403,95.076378,94.590637,...,95.787064,95.631828,95.315758,94.406250,94.236328,NaN,NaN,NaN,223,F
24,Least developed countries: UN classification,"Adjusted net enrollment rate, primary, (% of...",56.250938,58.583130,62.125919,65.167870,68.044220,70.514290,73.071663,74.414284,...,76.736649,78.115021,79.265709,80.091011,80.452469,NaN,NaN,NaN,223,F
25,Low income,"Adjusted net enrollment rate, primary, (% of...",49.770721,52.304920,56.566769,60.001579,62.984322,65.565048,68.973167,70.938278,...,74.777412,76.077621,77.375702,78.159569,78.729393,78.596001,NaN,NaN,223,F
26,Lower middle income,"Adjusted net enrollment rate, primary, (% of...",76.246971,77.190071,77.702492,82.255280,83.814667,85.147186,86.178574,88.177719,...,89.534286,89.933792,90.042007,89.838608,89.672188,89.440918,NaN,NaN,223,F
27,Middle East & North Africa,"Adjusted net enrollment rate, primary, (% of...",81.112289,83.702438,85.981796,87.125153,88.431740,89.103706,89.470596,90.768753,...,93.306587,93.588600,94.075653,93.506363,93.214867,NaN,NaN,NaN,223,F
28,Middle East & North Africa (excluding high inc...,"Adjusted net enrollment rate, primary, (% of...",81.578873,84.322701,86.763527,87.965157,89.322067,89.919907,90.292953,91.595337,...,93.400978,93.651756,93.918343,93.199501,92.868057,NaN,NaN,NaN,223,F
29,Middle East & North Africa (IDA & IBRD),"Adjusted net enrollment rate, primary, (% of...",81.482643,84.268387,86.737358,87.958763,89.357758,89.997063,90.365501,91.687057,...,93.466164,93.703140,93.941223,93.202858,92.866570,NaN,NaN,NaN,223,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36667,Suriname,"Age at first marriage, male",27.500000,NaN,NaN,NaN,31.800000,NaN,NaN,NaN,...,NaN,NaN,32.800000,NaN,NaN,NaN,NaN,NaN,198,N
36668,Swaziland,"Age at first marriage, male",30.100000,NaN,NaN,NaN,NaN,NaN,30.000000,30.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36669,Sweden,"Age at first marriage, male",NaN,34.500000,34.500000,34.500000,34.500000,34.400000,34.300000,34.100000,...,33.500000,33.200000,33.200000,NaN,33.100000,NaN,NaN,NaN,198,N
36670,Switzerland,"Age at first marriage, male",31.100000,31.600000,NaN,32.100000,NaN,32.400000,32.100000,32.700000,...,NaN,29.700000,33.200000,NaN,32.800000,NaN,NaN,NaN,198,N
36671,Syrian Arab Republic,"Age at first marriage, male",NaN,29.300000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36672,Tajikistan,"Age at first marriage, male",24.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.700000,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,198,N
36673,Tanzania,"Age at first marriage, male",NaN,NaN,25.900000,NaN,25.000000,25.100000,NaN,NaN,...,25.100000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36674,Thailand,"Age at first marriage, male",27.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36675,Timor-Leste,"Age at first marriage, male",NaN,NaN,NaN,24.600000,27.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36676,Togo,"Age at first marriage, male",28.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.600000,NaN,NaN,NaN,27.600000,NaN,NaN,NaN,198,N
36677,Tonga,"Age at first marriage, male",NaN,NaN,NaN,NaN,NaN,NaN,28.000000,NaN,...,NaN,NaN,25.500000,NaN,NaN,NaN,NaN,NaN,198,N
36678,Trinidad and Tobago,"Age at first marriage, male",31.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31.800000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36679,Tunisia,"Age at first marriage, male",NaN,NaN,NaN,NaN,32.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36680,Turkey,"Age at first marriage, male",26.100000,NaN,NaN,26.400000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.100000,NaN,NaN,NaN,NaN,198,N
36681,Turks and Caicos Islands,"Age at first marriage, male",NaN,28.300000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36682,Tuvalu,"Age at first marriage, male",NaN,NaN,26.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36683,Uganda,"Age at first marriage, male",NaN,23.400000,24.200000,NaN,NaN,24.000000,23.800000,NaN,...,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36684,Ukraine,"Age at first marriage, male",NaN,26.000000,NaN,NaN,NaN,NaN,NaN,25.900000,...,NaN,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,198,N
36685,United Arab Emirates,"Age at first marriage, male",NaN,NaN,NaN,NaN,NaN,26.800000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36686,United Kingdom,"Age at first marriage, male",NaN,28.100000,NaN,NaN,NaN,NaN,NaN,NaN,...,33.300000,28.700000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36687,United States,"Age at first marriage, male",27.800000,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36688,Uruguay,"Age at first marriage, male",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.500000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36689,Uzbekistan,"Age at first marriage, male",24.100000,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36690,Vanuatu,"Age at first marriage, male",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36691,"Venezuela, RB","Age at first marriage, male",26.500000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36692,Vietnam,"Age at first marriage, male",26.000000,NaN,26.100000,NaN,NaN,26.000000,NaN,26.600000,...,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36693,West Bank and Gaza,"Age at first marriage, male",26.900000,NaN,NaN,NaN,NaN,NaN,NaN,26.600000,...,27.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198,N
36694,"Yemen, Rep.","Age at first marriage, male",NaN,NaN,NaN,25.400000,NaN,NaN,25.300000,NaN,...,NaN,NaN,NaN,26.100000,NaN,NaN,NaN,NaN,198,N
36695,Zambia,"Age at first marriage, male",25.400000,NaN,24.800000,NaN,NaN,NaN,NaN,25.400000,...,26.200000,NaN,NaN,NaN,25.900000,NaN,NaN,NaN,198,N
36696,Zimbabwe,"Age at first marriage, male",NaN,NaN,25.800000,NaN,NaN,NaN,25.900000,NaN,...,25.500000,NaN,NaN,NaN,25.200000,NaN,NaN,NaN,198,N

In [2]:
# data_region = data[(data['Country Name'] == 'East Asia & Pacific') | 
# (data['Country Name'] == 'Europe & Central Asia') | (data['Country Name'] == 'Latin America & Caribbean') | 
# (data['Country Name'] == 'Middle East & North Africa') | (data['Country Name'] == 'South Asia') | 
# (data['Country Name'] == 'Sub-Saharan Africa') | (data)['Country Name'] == 'North America']
# file_east_asia = pd.ExcelWriter('data region.xlsx')
# data_region.to_excel(file_east_asia, sheet_name =  'total')
# can be saved as xlsx, and to different sheets

In [3]:
# East_Asia_Pacific.to_excel(file_east_asia, sheet_name = 'East Asia & Pacific')

# file_east_asia.save()

In [4]:
# data_main_countries = data[(data['Country Name'] == 'Russian Federation')| (data['Country Name'] == 'Canada')| (data['Country Name'] == 'United States')| (data['Country Name'] == 'China')| (data['Country Name'] == 'Brazil')| (data['Country Name'] == 'Australia')| (data['Country Name'] == 'India')| (data['Country Name'] == 'Euro area')| (data['Country Name'] == 'United Kingdom')]
# data_main_countries.to_csv('data main countries.csv')

In [9]:
eap = data[(data['Country Name'] == 'East Asia & Pacific') | (data['Country Name'] == 'China') | 
           (data['Country Name'] == 'Japan') | (data['Country Name'] == 'Vietnam') |  
           (data['Country Name'] == 'Korea, Dem. People\'s Rep.') | (data['Country Name'] == 'Korea, Rep.') | 
           (data['Country Name'] == 'Philippines') | (data['Country Name'] == 'Australia') | 
           (data['Country Name'] == 'New Zealand') | (data['Country Name'] == 'Singapore')]
eap.sort_values(by = 'Country Name')
eap.to_csv('eap.csv')

In [21]:
eca = data[(data['Country Name'] == 'Europe & Central Asia') | (data['Country Name'] == 'Austria') | 
           (data['Country Name'] == 'Albania') | (data['Country Name'] == 'Belgium') |  
           (data['Country Name'] == 'Denmark') | (data['Country Name'] == 'Italy') | 
           (data['Country Name'] == 'Croatia') | (data['Country Name'] == 'France') | 
           (data['Country Name'] == 'Germany') | (data['Country Name'] == 'Greece')
#            (data['Country Name'] == 'Iceland') | (data['Country Name'] == 'Luxembourg') | 
#            (data['Country Name'] == 'Netherlands') | (data['Country Name'] == 'Sweden') | 
#            (data['Country Name'] == 'Switzerland') | (data['Country Name'] == 'Ukraine') | 
#            (data['Country Name'] == 'Turkey') | (data['Country Name'] == 'United Kingdom') |
#            (data['Country Name'] == 'Norway') | (data['Country Name'] == 'Finland') |  
#            (data['Country Name'] == 'Spain') | (data['Country Name'] == 'Poland') | 
#            (data['Country Name'] == 'Portugal') | (data['Country Name'] == 'Romania') | 
           (data['Country Name'] == 'Russian Federation') | (data['Country Name'] == 'Czech Republic')]
eca.sort_values(by = 'Country Name')
eca.to_csv('eca.csv')

TypeError: 'Series' object is not callable

In [10]:
lac = data[(data['Country Name'] == 'Latin America & Caribbean') | (data['Country Name'] == 'Argentina') | 
           (data['Country Name'] == 'Brazil') | (data['Country Name'] == 'Panama') |  
           (data['Country Name'] == 'Colombia') | (data['Country Name'] == 'Cuba') | 
           (data['Country Name'] == 'Haiti') | (data['Country Name'] == 'Jamaica') | 
           (data['Country Name'] == 'Mexico') | (data['Country Name'] == 'Chile')]
lac.sort_values(by = 'Country Name')
lac.to_csv('lac.csv')

In [11]:
mena = data[(data['Country Name'] == 'Middle East & North Africa') | (data['Country Name'] == 'United Arab Emirates') | 
           (data['Country Name'] == 'Egypt, Arab Rep.') | (data['Country Name'] == 'Iraq') |  
           (data['Country Name'] == 'Iran, Islamic Rep.') | (data['Country Name'] == 'Israel') | 
           (data['Country Name'] == 'Saudi Arabia') | (data['Country Name'] == 'Lebanon') | 
           (data['Country Name'] == 'Syrian Arab Republic') | (data['Country Name'] == 'Morocco')]
mena.sort_values(by = 'Country Name')
mena.to_csv('mena.csv')

In [13]:
sa = data[(data['Country Name'] == 'South Asia') | (data['Country Name'] == 'Afghanistan') | 
           (data['Country Name'] == 'Bangladesh') | (data['Country Name'] == 'Bhutan') |  
           (data['Country Name'] == 'India') | (data['Country Name'] == 'Nepal') | 
           (data['Country Name'] == 'Maldives') | (data['Country Name'] == 'Pakistan') | 
           (data['Country Name'] == 'Sri Lanka')]
sa.sort_values(by = 'Country Name')
sa.to_csv('sa.csv')

In [14]:
ssa = data[(data['Country Name'] == 'Sub-Saharan Africa') | (data['Country Name'] == 'Guinea-Bissau') | 
           (data['Country Name'] == 'Guinea') | (data['Country Name'] == 'Papua New Guinea') |  
           (data['Country Name'] == 'South Sudan') | (data['Country Name'] == 'Sudan') | 
           (data['Country Name'] == 'Equatorial Guinea') | (data['Country Name'] == 'Nigeria') | 
           (data['Country Name'] == 'South Africa') | (data['Country Name'] == 'Central African Republic')]
ssa.sort_values(by = 'Country Name')
ssa.to_csv('ssa.csv')

In [15]:
na = data[(data['Country Name'] == 'North America') | (data['Country Name'] == 'United States') | 
           (data['Country Name'] == 'Canada')]
na.sort_values(by = 'Country Name')
na.to_csv('na.csv')