In [10]:
import pandas as pd
import numpy as np
data = pd.read_csv('159 indicators for all the countries 2000 to 2016.csv')
data = data.drop(columns = ['Unnamed: 0'])
data

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,number of countries
0,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,73.275620,75.132980,76.641022,77.653580,78.485397,79.475769,...,81.695686,82.871651,82.861389,84.401413,83.914032,83.820831,NaN,NaN,NaN,223
1,Caribbean small states,CSS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.758873,92.869598,92.252808,92.027557,93.611488,93.517563,...,93.120422,93.679657,93.752937,93.407738,92.724808,NaN,NaN,NaN,NaN,223
2,Central Europe and the Baltics,CEB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.659027,95.794853,95.854279,95.919563,95.728073,95.430458,...,96.761124,97.003021,96.611633,96.336021,95.973099,95.878433,NaN,NaN,NaN,223
3,Early-demographic dividend,EAR,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,79.231354,80.330177,81.186440,85.159439,86.620583,88.122643,...,92.279358,92.821404,93.300209,93.378868,93.688660,93.560097,NaN,NaN,NaN,223
4,East Asia & Pacific,EAS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.710747,95.185143,97.313599,97.009399,97.015167,94.883293,...,95.858963,96.238548,96.734039,96.449081,96.227287,96.194817,NaN,NaN,NaN,223
5,East Asia & Pacific (excluding high income),EAP,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.395027,94.905861,97.202377,96.847282,96.861748,94.551651,...,95.577744,96.001892,96.531914,96.232513,96.043900,96.009018,NaN,NaN,NaN,223
6,East Asia & Pacific (IDA & IBRD),TEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.373123,94.887177,97.203827,96.845329,96.860153,94.528511,...,95.562958,95.991371,96.526779,96.224411,96.031593,95.996513,NaN,NaN,NaN,223
7,Euro area,EMU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,99.432869,99.330177,99.255722,99.036850,98.748871,98.637062,...,99.051331,99.137741,99.024879,99.181648,99.140556,98.866081,NaN,NaN,NaN,223
8,Europe & Central Asia,ECS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,96.254440,97.069138,97.570908,97.263680,97.288101,96.472656,...,96.907043,97.232780,97.306313,97.251869,97.291008,97.032494,NaN,NaN,NaN,223
9,Europe & Central Asia (excluding high income),ECA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,92.998520,94.678177,95.880028,95.413696,96.054420,94.259750,...,94.587349,95.028137,95.221443,94.956223,94.995491,94.664413,NaN,NaN,NaN,223
10,Europe & Central Asia (IDA & IBRD),TEC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.369537,94.882278,95.912781,95.480949,96.002502,94.398689,...,94.744888,95.212624,95.395241,95.188141,95.234032,94.932793,NaN,NaN,NaN,223
11,European Union,EUU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,98.653687,98.676117,98.667870,98.592163,98.271149,98.189598,...,98.552231,98.764862,98.702660,98.758133,98.665878,98.489517,NaN,NaN,NaN,223
12,Fragile and conflict affected situations,FCS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,52.773399,54.510521,57.195530,59.407349,61.179039,61.870941,...,67.573532,68.428726,69.521591,71.945930,71.821968,73.000732,NaN,NaN,NaN,223
13,Heavily indebted poor countries (HIPC),HPC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.500938,52.309921,56.012161,59.130661,62.057121,64.728371,...,73.158539,73.323387,74.871628,76.430260,77.681122,78.576210,NaN,NaN,NaN,223
14,High income,HIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,97.119881,97.212807,96.803909,96.621162,96.287491,96.568062,...,97.391289,97.130623,96.962669,96.966263,96.794563,96.934563,97.357094,NaN,NaN,223
15,IBRD only,IBD,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,88.700851,89.373772,90.748207,93.355118,94.247498,93.830933,...,96.011589,96.346359,96.407547,96.414726,96.304962,96.173042,NaN,NaN,NaN,223
16,IDA & IBRD total,IBT,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,80.257957,80.945923,82.290192,84.616158,86.034477,86.197533,...,88.708519,88.936943,89.241608,89.467590,89.523277,89.555168,NaN,NaN,NaN,223
17,IDA blend,IDB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,65.739182,65.968651,65.875961,66.710991,68.668777,69.518532,...,70.893761,71.935547,71.744568,71.916321,71.399773,72.112671,NaN,NaN,NaN,223
18,IDA only,IDX,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,57.804668,59.896790,62.911919,66.108803,68.580704,70.934753,...,77.349197,77.257782,78.805222,79.936028,80.805458,81.196167,NaN,NaN,NaN,223
19,IDA total,IDA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,60.524239,61.961159,63.911339,66.309753,68.609749,70.473083,...,75.332314,75.605659,76.622292,77.454552,77.889931,78.367790,NaN,NaN,NaN,223
20,Late-demographic dividend,LTE,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.150436,95.522537,97.864502,97.473091,97.921669,95.969139,...,96.620293,96.562500,96.545738,96.590942,96.252510,96.443352,NaN,NaN,NaN,223
21,Latin America & Caribbean,LCN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617821,95.636192,95.576233,94.580818,95.069069,95.586281,...,95.743370,95.819229,95.635872,95.308609,94.404739,94.198311,NaN,NaN,NaN,223
22,Latin America & Caribbean (excluding high income),LAC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.640343,95.678123,95.625900,94.619972,94.996613,95.562302,...,95.793243,95.846230,95.710472,95.380074,94.453201,94.225212,NaN,NaN,NaN,223
23,Latin America & Caribbean (IDA & IBRD),TLA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617477,95.651413,95.594040,94.603989,95.106117,95.628403,...,95.714531,95.787064,95.631828,95.315758,94.406250,94.236328,NaN,NaN,NaN,223
24,Least developed countries: UN classification,LDC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,56.250938,58.583130,62.125919,65.167870,68.044220,70.514290,...,77.110329,76.736649,78.115021,79.265709,80.091011,80.452469,NaN,NaN,NaN,223
25,Low income,LIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.770721,52.304920,56.566769,60.001579,62.984322,65.565048,...,74.890022,74.777412,76.077621,77.375702,78.159569,78.729393,78.596001,NaN,NaN,223
26,Lower middle income,LMC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,76.246971,77.190071,77.702492,82.255280,83.814667,85.147186,...,88.656143,89.534286,89.933792,90.042007,89.838608,89.672188,89.440918,NaN,NaN,223
27,Middle East & North Africa,MEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.112289,83.702438,85.981796,87.125153,88.431740,89.103706,...,91.887871,93.306587,93.588600,94.075653,93.506363,93.214867,NaN,NaN,NaN,223
28,Middle East & North Africa (excluding high inc...,MNA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.578873,84.322701,86.763527,87.965157,89.322067,89.919907,...,92.414543,93.400978,93.651756,93.918343,93.199501,92.868057,NaN,NaN,NaN,223
29,Middle East & North Africa (IDA & IBRD),TMN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.482643,84.268387,86.737358,87.958763,89.357758,89.997063,...,92.475304,93.466164,93.703140,93.941223,93.202858,92.866570,NaN,NaN,NaN,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36667,Suriname,SUR,"Age at first marriage, male",SP.DYN.SMAM.MA,27.500000,NaN,NaN,NaN,31.800000,NaN,...,NaN,NaN,NaN,32.800000,NaN,NaN,NaN,NaN,NaN,198
36668,Swaziland,SWZ,"Age at first marriage, male",SP.DYN.SMAM.MA,30.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36669,Sweden,SWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,34.500000,34.500000,34.500000,34.500000,34.400000,...,33.700000,33.500000,33.200000,33.200000,NaN,33.100000,NaN,NaN,NaN,198
36670,Switzerland,CHE,"Age at first marriage, male",SP.DYN.SMAM.MA,31.100000,31.600000,NaN,32.100000,NaN,32.400000,...,32.700000,NaN,29.700000,33.200000,NaN,32.800000,NaN,NaN,NaN,198
36671,Syrian Arab Republic,SYR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,29.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36672,Tajikistan,TJK,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,24.700000,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,198
36673,Tanzania,TZA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.900000,NaN,25.000000,25.100000,...,NaN,25.100000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,198
36674,Thailand,THA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,28.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36675,Timor-Leste,TLS,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,24.600000,27.000000,NaN,...,26.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36676,Togo,TGO,"Age at first marriage, male",SP.DYN.SMAM.MA,28.200000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.600000,NaN,NaN,NaN,27.600000,NaN,NaN,NaN,198
36677,Tonga,TON,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.500000,NaN,NaN,NaN,NaN,NaN,198
36678,Trinidad and Tobago,TTO,"Age at first marriage, male",SP.DYN.SMAM.MA,31.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,31.800000,NaN,NaN,NaN,NaN,NaN,NaN,198
36679,Tunisia,TUN,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,32.600000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36680,Turkey,TUR,"Age at first marriage, male",SP.DYN.SMAM.MA,26.100000,NaN,NaN,26.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,28.100000,NaN,NaN,NaN,NaN,198
36681,Turks and Caicos Islands,TCA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36682,Tuvalu,TUV,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,26.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36683,Uganda,UGA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,23.400000,24.200000,NaN,NaN,24.000000,...,NaN,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,NaN,198
36684,Ukraine,UKR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,198
36685,United Arab Emirates,ARE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,26.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36686,United Kingdom,GBR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.100000,NaN,NaN,NaN,NaN,...,33.200000,33.300000,28.700000,NaN,NaN,NaN,NaN,NaN,NaN,198
36687,United States,USA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.800000,NaN,24.000000,NaN,NaN,NaN,...,28.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36688,Uruguay,URY,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.500000,NaN,NaN,NaN,NaN,NaN,NaN,198
36689,Uzbekistan,UZB,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,24.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36690,Vanuatu,VUT,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,25.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36691,"Venezuela, RB",VEN,"Age at first marriage, male",SP.DYN.SMAM.MA,26.500000,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36692,Vietnam,VNM,"Age at first marriage, male",SP.DYN.SMAM.MA,26.000000,NaN,26.100000,NaN,NaN,26.000000,...,26.200000,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,NaN,198
36693,West Bank and Gaza,PSE,"Age at first marriage, male",SP.DYN.SMAM.MA,26.900000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36694,"Yemen, Rep.",YEM,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,25.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,26.100000,NaN,NaN,NaN,NaN,198
36695,Zambia,ZMB,"Age at first marriage, male",SP.DYN.SMAM.MA,25.400000,NaN,24.800000,NaN,NaN,NaN,...,NaN,26.200000,NaN,NaN,NaN,25.900000,NaN,NaN,NaN,198
36696,Zimbabwe,ZWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.800000,NaN,NaN,NaN,...,NaN,25.500000,NaN,NaN,NaN,25.200000,NaN,NaN,NaN,198

In [27]:
data_region = data[(data['Country Name'] == 'East Asia & Pacific') | (data['Country Name'] == 'Europe & Central Asia') | (data['Country Name'] == 'Latin America & Caribbean') | (data['Country Name'] == 'Middle East & North Africa') | (data['Country Name'] == 'South Asia') | (data['Country Name'] == 'Sub-Saharan Africa')]
data_region.to_csv('data region.csv')
# can be saved as xlsx, and to different sheets

In [30]:
data_main_countries = data[(data['Country Name'] == 'Russian Federation')| (data['Country Name'] == 'Canada')| (data['Country Name'] == 'United States')| (data['Country Name'] == 'China')| (data['Country Name'] == 'Brazil')| (data['Country Name'] == 'Australia')| (data['Country Name'] == 'India')| (data['Country Name'] == 'Euro area')| (data['Country Name'] == 'United Kingdom')]
data_main_countries.to_csv('data main countries.csv')