In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('159 indicators for all the countries 2000 to 2016.csv')
data = data.drop(columns = ['Unnamed: 0'])
data

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,number of countries
0,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,73.275620,75.132980,76.641022,77.653580,78.485397,79.475769,...,81.695686,82.871651,82.861389,84.401413,83.914032,83.820831,NaN,NaN,NaN,223
1,Caribbean small states,CSS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.758873,92.869598,92.252808,92.027557,93.611488,93.517563,...,93.120422,93.679657,93.752937,93.407738,92.724808,NaN,NaN,NaN,NaN,223
2,Central Europe and the Baltics,CEB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.659027,95.794853,95.854279,95.919563,95.728073,95.430458,...,96.761124,97.003021,96.611633,96.336021,95.973099,95.878433,NaN,NaN,NaN,223
3,Early-demographic dividend,EAR,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,79.231354,80.330177,81.186440,85.159439,86.620583,88.122643,...,92.279358,92.821404,93.300209,93.378868,93.688660,93.560097,NaN,NaN,NaN,223
4,East Asia & Pacific,EAS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.710747,95.185143,97.313599,97.009399,97.015167,94.883293,...,95.858963,96.238548,96.734039,96.449081,96.227287,96.194817,NaN,NaN,NaN,223
5,East Asia & Pacific (excluding high income),EAP,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.395027,94.905861,97.202377,96.847282,96.861748,94.551651,...,95.577744,96.001892,96.531914,96.232513,96.043900,96.009018,NaN,NaN,NaN,223
6,East Asia & Pacific (IDA & IBRD),TEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.373123,94.887177,97.203827,96.845329,96.860153,94.528511,...,95.562958,95.991371,96.526779,96.224411,96.031593,95.996513,NaN,NaN,NaN,223
7,Euro area,EMU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,99.432869,99.330177,99.255722,99.036850,98.748871,98.637062,...,99.051331,99.137741,99.024879,99.181648,99.140556,98.866081,NaN,NaN,NaN,223
8,Europe & Central Asia,ECS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,96.254440,97.069138,97.570908,97.263680,97.288101,96.472656,...,96.907043,97.232780,97.306313,97.251869,97.291008,97.032494,NaN,NaN,NaN,223
9,Europe & Central Asia (excluding high income),ECA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,92.998520,94.678177,95.880028,95.413696,96.054420,94.259750,...,94.587349,95.028137,95.221443,94.956223,94.995491,94.664413,NaN,NaN,NaN,223
10,Europe & Central Asia (IDA & IBRD),TEC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.369537,94.882278,95.912781,95.480949,96.002502,94.398689,...,94.744888,95.212624,95.395241,95.188141,95.234032,94.932793,NaN,NaN,NaN,223
11,European Union,EUU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,98.653687,98.676117,98.667870,98.592163,98.271149,98.189598,...,98.552231,98.764862,98.702660,98.758133,98.665878,98.489517,NaN,NaN,NaN,223
12,Fragile and conflict affected situations,FCS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,52.773399,54.510521,57.195530,59.407349,61.179039,61.870941,...,67.573532,68.428726,69.521591,71.945930,71.821968,73.000732,NaN,NaN,NaN,223
13,Heavily indebted poor countries (HIPC),HPC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.500938,52.309921,56.012161,59.130661,62.057121,64.728371,...,73.158539,73.323387,74.871628,76.430260,77.681122,78.576210,NaN,NaN,NaN,223
14,High income,HIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,97.119881,97.212807,96.803909,96.621162,96.287491,96.568062,...,97.391289,97.130623,96.962669,96.966263,96.794563,96.934563,97.357094,NaN,NaN,223
15,IBRD only,IBD,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,88.700851,89.373772,90.748207,93.355118,94.247498,93.830933,...,96.011589,96.346359,96.407547,96.414726,96.304962,96.173042,NaN,NaN,NaN,223
16,IDA & IBRD total,IBT,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,80.257957,80.945923,82.290192,84.616158,86.034477,86.197533,...,88.708519,88.936943,89.241608,89.467590,89.523277,89.555168,NaN,NaN,NaN,223
17,IDA blend,IDB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,65.739182,65.968651,65.875961,66.710991,68.668777,69.518532,...,70.893761,71.935547,71.744568,71.916321,71.399773,72.112671,NaN,NaN,NaN,223
18,IDA only,IDX,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,57.804668,59.896790,62.911919,66.108803,68.580704,70.934753,...,77.349197,77.257782,78.805222,79.936028,80.805458,81.196167,NaN,NaN,NaN,223
19,IDA total,IDA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,60.524239,61.961159,63.911339,66.309753,68.609749,70.473083,...,75.332314,75.605659,76.622292,77.454552,77.889931,78.367790,NaN,NaN,NaN,223
20,Late-demographic dividend,LTE,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.150436,95.522537,97.864502,97.473091,97.921669,95.969139,...,96.620293,96.562500,96.545738,96.590942,96.252510,96.443352,NaN,NaN,NaN,223
21,Latin America & Caribbean,LCN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617821,95.636192,95.576233,94.580818,95.069069,95.586281,...,95.743370,95.819229,95.635872,95.308609,94.404739,94.198311,NaN,NaN,NaN,223
22,Latin America & Caribbean (excluding high income),LAC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.640343,95.678123,95.625900,94.619972,94.996613,95.562302,...,95.793243,95.846230,95.710472,95.380074,94.453201,94.225212,NaN,NaN,NaN,223
23,Latin America & Caribbean (IDA & IBRD),TLA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617477,95.651413,95.594040,94.603989,95.106117,95.628403,...,95.714531,95.787064,95.631828,95.315758,94.406250,94.236328,NaN,NaN,NaN,223
24,Least developed countries: UN classification,LDC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,56.250938,58.583130,62.125919,65.167870,68.044220,70.514290,...,77.110329,76.736649,78.115021,79.265709,80.091011,80.452469,NaN,NaN,NaN,223
25,Low income,LIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.770721,52.304920,56.566769,60.001579,62.984322,65.565048,...,74.890022,74.777412,76.077621,77.375702,78.159569,78.729393,78.596001,NaN,NaN,223
26,Lower middle income,LMC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,76.246971,77.190071,77.702492,82.255280,83.814667,85.147186,...,88.656143,89.534286,89.933792,90.042007,89.838608,89.672188,89.440918,NaN,NaN,223
27,Middle East & North Africa,MEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.112289,83.702438,85.981796,87.125153,88.431740,89.103706,...,91.887871,93.306587,93.588600,94.075653,93.506363,93.214867,NaN,NaN,NaN,223
28,Middle East & North Africa (excluding high inc...,MNA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.578873,84.322701,86.763527,87.965157,89.322067,89.919907,...,92.414543,93.400978,93.651756,93.918343,93.199501,92.868057,NaN,NaN,NaN,223
29,Middle East & North Africa (IDA & IBRD),TMN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.482643,84.268387,86.737358,87.958763,89.357758,89.997063,...,92.475304,93.466164,93.703140,93.941223,93.202858,92.866570,NaN,NaN,NaN,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36667,Suriname,SUR,"Age at first marriage, male",SP.DYN.SMAM.MA,27.500000,NaN,NaN,NaN,31.800000,NaN,...,NaN,NaN,NaN,32.800000,NaN,NaN,NaN,NaN,NaN,198
36668,Swaziland,SWZ,"Age at first marriage, male",SP.DYN.SMAM.MA,30.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36669,Sweden,SWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,34.500000,34.500000,34.500000,34.500000,34.400000,...,33.700000,33.500000,33.200000,33.200000,NaN,33.100000,NaN,NaN,NaN,198
36670,Switzerland,CHE,"Age at first marriage, male",SP.DYN.SMAM.MA,31.100000,31.600000,NaN,32.100000,NaN,32.400000,...,32.700000,NaN,29.700000,33.200000,NaN,32.800000,NaN,NaN,NaN,198
36671,Syrian Arab Republic,SYR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,29.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36672,Tajikistan,TJK,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,24.700000,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,198
36673,Tanzania,TZA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.900000,NaN,25.000000,25.100000,...,NaN,25.100000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,198
36674,Thailand,THA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,28.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36675,Timor-Leste,TLS,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,24.600000,27.000000,NaN,...,26.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36676,Togo,TGO,"Age at first marriage, male",SP.DYN.SMAM.MA,28.200000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.600000,NaN,NaN,NaN,27.600000,NaN,NaN,NaN,198
36677,Tonga,TON,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.500000,NaN,NaN,NaN,NaN,NaN,198
36678,Trinidad and Tobago,TTO,"Age at first marriage, male",SP.DYN.SMAM.MA,31.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,31.800000,NaN,NaN,NaN,NaN,NaN,NaN,198
36679,Tunisia,TUN,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,32.600000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36680,Turkey,TUR,"Age at first marriage, male",SP.DYN.SMAM.MA,26.100000,NaN,NaN,26.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,28.100000,NaN,NaN,NaN,NaN,198
36681,Turks and Caicos Islands,TCA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36682,Tuvalu,TUV,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,26.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36683,Uganda,UGA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,23.400000,24.200000,NaN,NaN,24.000000,...,NaN,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,NaN,198
36684,Ukraine,UKR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,198
36685,United Arab Emirates,ARE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,26.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36686,United Kingdom,GBR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.100000,NaN,NaN,NaN,NaN,...,33.200000,33.300000,28.700000,NaN,NaN,NaN,NaN,NaN,NaN,198
36687,United States,USA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.800000,NaN,24.000000,NaN,NaN,NaN,...,28.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36688,Uruguay,URY,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.500000,NaN,NaN,NaN,NaN,NaN,NaN,198
36689,Uzbekistan,UZB,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,24.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36690,Vanuatu,VUT,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,25.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36691,"Venezuela, RB",VEN,"Age at first marriage, male",SP.DYN.SMAM.MA,26.500000,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36692,Vietnam,VNM,"Age at first marriage, male",SP.DYN.SMAM.MA,26.000000,NaN,26.100000,NaN,NaN,26.000000,...,26.200000,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,NaN,198
36693,West Bank and Gaza,PSE,"Age at first marriage, male",SP.DYN.SMAM.MA,26.900000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36694,"Yemen, Rep.",YEM,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,25.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,26.100000,NaN,NaN,NaN,NaN,198
36695,Zambia,ZMB,"Age at first marriage, male",SP.DYN.SMAM.MA,25.400000,NaN,24.800000,NaN,NaN,NaN,...,NaN,26.200000,NaN,NaN,NaN,25.900000,NaN,NaN,NaN,198
36696,Zimbabwe,ZWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.800000,NaN,NaN,NaN,...,NaN,25.500000,NaN,NaN,NaN,25.200000,NaN,NaN,NaN,198

In [2]:
data_region = data[(data['Country Name'] == 'East Asia & Pacific') | (data['Country Name'] == 'Europe & Central Asia') | (data['Country Name'] == 'Latin America & Caribbean') | (data['Country Name'] == 'Middle East & North Africa') | (data['Country Name'] == 'South Asia') | (data['Country Name'] == 'Sub-Saharan Africa')]
file_east_asia = pd.ExcelWriter('data region.xlsx')
# data_region.to_excel(file_east_asia, sheet_name =  'total')
# can be saved as xlsx, and to different sheets

In [3]:
East_Asia_Pacific = data_region[data_region['Country Name'] == 'East Asia & Pacific']

East_Asia_Pacific = East_Asia_Pacific.drop(columns = {'Country Code', 'Indicator Code'})
# East_Asia_Pacific.set_index('Indicator Name', inplace = True)
# East_Asia_Pacific = East_Asia_Pacific.T
East_Asia_Pacific

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,number of countries
4,East Asia & Pacific,"Adjusted net enrollment rate, primary, female ...",9.471075e+01,9.518514e+01,9.731360e+01,9.700940e+01,9.701517e+01,9.488329e+01,9.440989e+01,9.549008e+01,...,9.585896e+01,9.623855e+01,9.673404e+01,9.644908e+01,9.622729e+01,9.619482e+01,NaN,NaN,NaN,223
227,East Asia & Pacific,"Adjusted net enrollment rate, primary, male (%...",9.518606e+01,9.562071e+01,9.765803e+01,9.755917e+01,9.632680e+01,9.545566e+01,9.498467e+01,9.584264e+01,...,9.626016e+01,9.610014e+01,9.602994e+01,9.620824e+01,9.597380e+01,9.621980e+01,NaN,NaN,NaN,223
450,East Asia & Pacific,"Adolescent fertility rate (births per 1,000 wo...",1.942430e+01,1.902556e+01,1.852518e+01,1.815458e+01,1.792703e+01,1.789480e+01,1.798862e+01,1.827444e+01,...,1.934528e+01,1.988019e+01,2.037021e+01,2.079318e+01,2.110988e+01,2.138457e+01,21.637006,NaN,NaN,240
690,East Asia & Pacific,Age dependency ratio (% of working-age populat...,4.920776e+01,4.822933e+01,4.703387e+01,4.574472e+01,4.456092e+01,4.358330e+01,4.284846e+01,4.222726e+01,...,4.143846e+01,4.128456e+01,4.128389e+01,4.143373e+01,4.171575e+01,4.209224e+01,42.538153,43.122570,NaN,240
930,East Asia & Pacific,"Birth rate, crude (per 1,000 people)",1.582657e+01,1.530048e+01,1.490037e+01,1.456761e+01,1.440824e+01,1.439951e+01,1.418896e+01,1.417927e+01,...,1.406771e+01,1.387841e+01,1.385085e+01,1.391407e+01,1.378604e+01,1.389445e+01,13.657011,NaN,NaN,257
1187,East Asia & Pacific,Births attended by skilled health staff (% of ...,8.528205e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.358589e+01,NaN,NaN,NaN,NaN,242
1429,East Asia & Pacific,"Cause of death, by communicable diseases, ages...",2.769513e+01,NaN,NaN,NaN,NaN,2.697198e+01,NaN,NaN,...,NaN,2.552190e+01,NaN,NaN,NaN,NaN,24.992582,NaN,NaN,229
1658,East Asia & Pacific,"Cause of death, by communicable diseases, ages...",1.940682e+01,NaN,NaN,NaN,NaN,1.792771e+01,NaN,NaN,...,NaN,1.618846e+01,NaN,NaN,NaN,NaN,15.867541,NaN,NaN,229
1887,East Asia & Pacific,"Cause of death, by communicable diseases, ages...",1.070002e+01,NaN,NaN,NaN,NaN,9.475052e+00,NaN,NaN,...,NaN,8.647649e+00,NaN,NaN,NaN,NaN,7.854027,NaN,NaN,229
2116,East Asia & Pacific,"Cause of death, by communicable diseases, ages...",1.234429e+01,NaN,NaN,NaN,NaN,1.146659e+01,NaN,NaN,...,NaN,1.057437e+01,NaN,NaN,NaN,NaN,9.817052,NaN,NaN,229
2345,East Asia & Pacific,"Cause of death, by injury, ages 15-34, female ...",2.927888e+01,NaN,NaN,NaN,NaN,2.875751e+01,NaN,NaN,...,NaN,2.878294e+01,NaN,NaN,NaN,NaN,27.947503,NaN,NaN,229
2574,East Asia & Pacific,"Cause of death, by injury, ages 15-34, male (%...",4.815092e+01,NaN,NaN,NaN,NaN,5.002618e+01,NaN,NaN,...,NaN,5.080703e+01,NaN,NaN,NaN,NaN,50.005644,NaN,NaN,229
2803,East Asia & Pacific,"Cause of death, by injury, ages 35-59, female ...",1.043541e+01,NaN,NaN,NaN,NaN,1.039092e+01,NaN,NaN,...,NaN,1.070626e+01,NaN,NaN,NaN,NaN,10.394704,NaN,NaN,229
3032,East Asia & Pacific,"Cause of death, by injury, ages 35-59, male (%...",1.586192e+01,NaN,NaN,NaN,NaN,1.586232e+01,NaN,NaN,...,NaN,1.581839e+01,NaN,NaN,NaN,NaN,15.369001,NaN,NaN,229
3261,East Asia & Pacific,"Cause of death, by non-communicable diseases, ...",4.302599e+01,NaN,NaN,NaN,NaN,4.427051e+01,NaN,NaN,...,NaN,4.569516e+01,NaN,NaN,NaN,NaN,47.059915,NaN,NaN,229
3490,East Asia & Pacific,"Cause of death, by non-communicable diseases, ...",3.244225e+01,NaN,NaN,NaN,NaN,3.204611e+01,NaN,NaN,...,NaN,3.300451e+01,NaN,NaN,NaN,NaN,34.126815,NaN,NaN,229
3719,East Asia & Pacific,"Cause of death, by non-communicable diseases, ...",7.886458e+01,NaN,NaN,NaN,NaN,8.013403e+01,NaN,NaN,...,NaN,8.064609e+01,NaN,NaN,NaN,NaN,81.751269,NaN,NaN,229
3948,East Asia & Pacific,"Cause of death, by non-communicable diseases, ...",7.179380e+01,NaN,NaN,NaN,NaN,7.267109e+01,NaN,NaN,...,NaN,7.360724e+01,NaN,NaN,NaN,NaN,74.813947,NaN,NaN,229
4177,East Asia & Pacific,"Children out of school, primary, female",5.362776e+06,4.708577e+06,2.533860e+06,2.718400e+06,2.844816e+06,4.697266e+06,4.960987e+06,3.863703e+06,...,3.380772e+06,3.041212e+06,2.635237e+06,2.867453e+06,3.055246e+06,3.086232e+06,NaN,NaN,NaN,223
4400,East Asia & Pacific,"Children out of school, primary, male",5.238904e+06,4.610479e+06,2.385143e+06,2.401615e+06,3.810984e+06,4.546577e+06,4.853949e+06,3.887546e+06,...,3.346456e+06,3.466139e+06,3.533197e+06,3.385570e+06,3.612136e+06,3.402434e+06,NaN,NaN,NaN,223
4622,East Asia & Pacific,"Contraceptive prevalence, any methods (% of wo...",7.525623e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.045166e+01,NaN,NaN,NaN,NaN,NaN,208
4830,East Asia & Pacific,"Contraceptive prevalence, modern methods (% of...",7.440890e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200
5031,East Asia & Pacific,"Contributing family workers, female (% of fema...",3.444713e+01,3.338953e+01,3.251681e+01,3.185211e+01,3.030188e+01,2.868461e+01,2.769458e+01,2.647985e+01,...,2.391784e+01,2.336713e+01,2.269526e+01,2.178860e+01,2.064869e+01,2.005469e+01,19.185449,18.521561,17.771601,232
5263,East Asia & Pacific,"Contributing family workers, male (% of male e...",1.082915e+01,1.033382e+01,9.871917e+00,9.357225e+00,8.673549e+00,7.944037e+00,7.335975e+00,6.930156e+00,...,5.881591e+00,5.646229e+00,5.302158e+00,5.036356e+00,4.773016e+00,4.672006e+00,4.339002,4.134588,3.917615,232
5495,East Asia & Pacific,"Cost of business start-up procedures, female (...",NaN,NaN,NaN,5.066957e+01,5.502500e+01,4.494167e+01,3.950400e+01,3.337200e+01,...,2.573200e+01,2.573200e+01,2.356800e+01,2.656538e+01,2.580345e+01,2.428276e+01,20.006897,17.155172,16.648276,235
5730,East Asia & Pacific,"Cost of business start-up procedures, male (% ...",NaN,NaN,NaN,5.066957e+01,5.502500e+01,4.494167e+01,3.950400e+01,3.337200e+01,...,2.573200e+01,2.573200e+01,2.356800e+01,2.656538e+01,2.580345e+01,2.428276e+01,20.006897,17.155172,16.648276,235
5965,East Asia & Pacific,"Death rate, crude (per 1,000 people)",6.629924e+00,6.607068e+00,6.618951e+00,6.626916e+00,6.611319e+00,6.690994e+00,6.866503e+00,6.950940e+00,...,7.054326e+00,7.096114e+00,7.140366e+00,7.157335e+00,7.169209e+00,7.179885e+00,7.152697,NaN,NaN,257
6222,East Asia & Pacific,"Employers, female (% of female employment) (mo...",8.636537e-01,9.596655e-01,9.715691e-01,1.030605e+00,1.135666e+00,1.184472e+00,1.275366e+00,1.365095e+00,...,1.616225e+00,1.711353e+00,1.879600e+00,1.965900e+00,1.968340e+00,1.950894e+00,2.028468,2.028588,2.114986,232
6454,East Asia & Pacific,"Employers, male (% of male employment) (modele...",3.151234e+00,3.211764e+00,3.237111e+00,3.419909e+00,3.688020e+00,3.977203e+00,4.211729e+00,4.379139e+00,...,4.970286e+00,5.222368e+00,5.597081e+00,5.686055e+00,5.647633e+00,5.625836e+00,5.658450,5.668607,5.753773,232
6686,East Asia & Pacific,"Employment in agriculture, female (% of female...",4.824755e+01,4.733829e+01,4.667314e+01,4.540924e+01,4.417427e+01,4.274131e+01,4.111480e+01,3.967005e+01,...,3.737130e+01,3.618731e+01,3.486129e+01,3.374879e+01,3.289573e+01,3.163892e+01,30.623817,29.950051,29.035666,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28222,East Asia & Pacific,"School enrollment, secondary, female (% gross)",6.139293e+01,6.142343e+01,6.188794e+01,6.349139e+01,6.536779e+01,6.684701e+01,6.911943e+01,7.301951e+01,...,7.919205e+01,8.133921e+01,8.426430e+01,8.653778e+01,8.896544e+01,8.832063e+01,NaN,NaN,NaN,235
28457,East Asia & Pacific,"School enrollment, secondary, female (% net)",6.368071e+01,6.514561e+01,6.558208e+01,6.731232e+01,6.910242e+01,7.041607e+01,7.025924e+01,7.122395e+01,...,7.064506e+01,7.199412e+01,7.394978e+01,7.482789e+01,7.627755e+01,7.888088e+01,NaN,NaN,NaN,208
28665,East Asia & Pacific,"School enrollment, secondary, male (% gross)",6.446001e+01,6.416268e+01,6.432902e+01,6.566258e+01,6.680485e+01,6.757574e+01,6.919199e+01,7.279844e+01,...,7.813377e+01,8.165309e+01,8.438679e+01,8.615769e+01,8.877749e+01,8.758206e+01,NaN,NaN,NaN,235
28900,East Asia & Pacific,"School enrollment, secondary, male (% net)",6.780175e+01,6.844563e+01,6.780553e+01,6.850168e+01,6.907703e+01,6.919080e+01,6.852502e+01,6.912064e+01,...,6.823105e+01,6.932628e+01,7.094341e+01,7.139773e+01,7.325296e+01,7.561304e+01,NaN,NaN,NaN,208
29108,East Asia & Pacific,"School enrollment, tertiary (gross), gender pa...",8.450700e-01,8.324600e-01,8.645300e-01,8.731400e-01,8.989100e-01,9.083500e-01,9.431400e-01,9.813200e-01,...,1.018510e+00,1.033170e+00,1.044350e+00,1.072810e+00,1.095850e+00,1.118430e+00,NaN,NaN,NaN,226
29334,East Asia & Pacific,"School enrollment, tertiary, female (% gross)",1.416020e+01,1.547308e+01,1.759257e+01,1.938313e+01,2.112145e+01,2.217330e+01,2.330451e+01,2.422880e+01,...,2.664102e+01,2.824751e+01,2.968168e+01,3.222398e+01,3.489006e+01,4.142624e+01,NaN,NaN,NaN,226
29560,East Asia & Pacific,"School enrollment, tertiary, male (% gross)",1.675626e+01,1.858727e+01,2.034924e+01,2.219946e+01,2.349671e+01,2.441058e+01,2.470957e+01,2.469009e+01,...,2.615675e+01,2.734052e+01,2.842132e+01,3.003702e+01,3.183847e+01,3.703947e+01,NaN,NaN,NaN,226
29786,East Asia & Pacific,"Secondary education, pupils (% female)",4.745240e+01,4.749513e+01,4.754197e+01,4.759093e+01,4.781059e+01,4.800141e+01,4.815282e+01,4.819348e+01,...,4.832791e+01,4.783924e+01,4.785535e+01,4.795953e+01,4.786232e+01,4.797238e+01,NaN,NaN,NaN,244
30030,East Asia & Pacific,"Secondary education, teachers (% female)",4.288660e+01,4.431163e+01,4.430914e+01,4.500701e+01,4.531537e+01,4.624569e+01,4.650718e+01,4.728609e+01,...,4.871123e+01,4.936193e+01,5.066209e+01,5.103975e+01,5.136665e+01,5.201111e+01,NaN,NaN,NaN,225
30255,East Asia & Pacific,"Self-employed, female (% of female employment)...",5.613668e+01,5.523632e+01,5.454928e+01,5.324359e+01,5.144006e+01,5.044176e+01,4.921522e+01,4.809381e+01,...,4.562521e+01,4.511301e+01,4.416271e+01,4.332914e+01,4.268223e+01,4.189488e+01,41.073928,40.454524,39.651693,232
30487,East Asia & Pacific,"Self-employed, male (% of male employment) (mo...",5.172959e+01,5.107632e+01,5.063788e+01,4.933547e+01,4.754057e+01,4.631742e+01,4.519812e+01,4.422271e+01,...,4.198785e+01,4.172004e+01,4.077852e+01,4.008157e+01,3.981151e+01,3.928432e+01,38.712384,38.321693,37.879964,232
30719,East Asia & Pacific,Sex ratio at birth (male births per female bir...,NaN,NaN,1.111257e+00,NaN,NaN,NaN,NaN,1.116948e+00,...,1.115520e+00,1.114203e+00,1.113509e+00,1.113035e+00,1.111992e+00,1.111468e+00,1.109821,NaN,NaN,240
31160,East Asia & Pacific,"Start-up procedures to register a business, fe...",NaN,NaN,NaN,7.869565e+00,7.791667e+00,7.791667e+00,8.440000e+00,8.400000e+00,...,7.920000e+00,7.640000e+00,7.120000e+00,7.346154e+00,7.627586e+00,7.482759e+00,6.862069,6.696552,6.593103,235
31395,East Asia & Pacific,"Start-up procedures to register a business, ma...",NaN,NaN,NaN,7.826087e+00,7.750000e+00,7.750000e+00,8.360000e+00,8.320000e+00,...,7.840000e+00,7.560000e+00,7.040000e+00,7.269231e+00,7.558621e+00,7.413793e+00,6.793103,6.627586,6.524138,235
31630,East Asia & Pacific,"Tertiary education, academic staff (% female)",3.520245e+01,3.550397e+01,3.568247e+01,3.579000e+01,3.593010e+01,3.746523e+01,3.694641e+01,3.800479e+01,...,3.945556e+01,3.999376e+01,4.064819e+01,4.054811e+01,NaN,NaN,NaN,NaN,NaN,213
31843,East Asia & Pacific,"Time required to start a business, female (days)",NaN,NaN,NaN,3.926087e+01,4.270833e+01,4.291667e+01,4.576000e+01,4.284000e+01,...,3.946000e+01,3.650000e+01,3.280000e+01,3.380769e+01,3.458966e+01,3.063793e+01,23.889655,21.465517,20.334483,235
32078,East Asia & Pacific,"Time required to start a business, male (days)",NaN,NaN,NaN,3.921739e+01,4.266667e+01,4.287500e+01,4.568000e+01,4.276000e+01,...,3.938000e+01,3.642000e+01,3.272000e+01,3.373077e+01,3.452069e+01,3.056897e+01,23.820690,21.396552,20.265517,235
32313,East Asia & Pacific,"Unemployment, female (% of female labor force)...",4.121282e+00,4.479965e+00,4.431664e+00,4.516525e+00,4.470952e+00,4.301632e+00,4.199826e+00,3.868919e+00,...,4.077729e+00,3.995357e+00,3.988280e+00,3.915274e+00,3.880638e+00,3.950043e+00,3.880750,3.761436,3.781805,232
32764,East Asia & Pacific,"Unemployment, male (% of male labor force) (mo...",4.957954e+00,5.152018e+00,5.141904e+00,5.042712e+00,5.048892e+00,4.904558e+00,4.668792e+00,4.435057e+00,...,4.841890e+00,4.620847e+00,4.688406e+00,4.677673e+00,4.721103e+00,4.682915e+00,4.667566,4.587911,4.657743,232
33215,East Asia & Pacific,"Unemployment, youth female (% of female labor ...",1.003752e+01,1.100394e+01,1.120065e+01,1.112129e+01,1.128955e+01,1.131603e+01,1.121679e+01,1.003194e+01,...,1.054528e+01,1.013698e+01,1.046437e+01,1.022648e+01,1.075207e+01,1.048959e+01,10.623283,10.228785,10.379120,232
33447,East Asia & Pacific,"Unemployment, youth male (% of male labor forc...",1.172578e+01,1.206546e+01,1.233463e+01,1.200741e+01,1.212260e+01,1.183531e+01,1.178966e+01,1.091903e+01,...,1.186929e+01,1.150006e+01,1.173249e+01,1.151718e+01,1.190131e+01,1.180513e+01,12.105548,11.749040,11.916026,232
33679,East Asia & Pacific,"Urban population, female (% of total)",2.056671e+01,NaN,NaN,NaN,NaN,2.316801e+01,NaN,NaN,...,NaN,2.566612e+01,NaN,NaN,NaN,NaN,27.988314,NaN,NaN,239
33918,East Asia & Pacific,"Urban population, male (% of total)",2.097267e+01,NaN,NaN,NaN,NaN,2.369789e+01,NaN,NaN,...,NaN,2.637753e+01,NaN,NaN,NaN,NaN,28.860528,NaN,NaN,239
34157,East Asia & Pacific,"Vulnerable employment, female (% of female emp...",5.526409e+01,5.427882e+01,5.357583e+01,5.226607e+01,5.036155e+01,4.918300e+01,4.793659e+01,4.671830e+01,...,4.401301e+01,4.340338e+01,4.229640e+01,4.141092e+01,4.071339e+01,3.988809e+01,39.046651,38.428015,37.543014,232
34389,East Asia & Pacific,"Vulnerable employment, male (% of male employm...",4.863302e+01,4.781065e+01,4.733784e+01,4.592161e+01,4.392425e+01,4.233809e+01,4.091509e+01,3.984804e+01,...,3.702162e+01,3.650148e+01,3.519597e+01,3.439313e+01,3.415591e+01,3.359718e+01,33.052925,32.708959,32.118320,232
34621,East Asia & Pacific,"Wage and salaried workers, female (% of female...",4.386332e+01,4.476368e+01,4.545072e+01,4.675641e+01,4.855994e+01,4.955824e+01,5.078478e+01,5.190619e+01,...,5.437479e+01,5.488699e+01,5.583729e+01,5.667086e+01,5.731777e+01,5.810512e+01,58.926071,59.545476,60.348308,232
34853,East Asia & Pacific,"Wage and salaried workers, male (% of male emp...",4.827041e+01,4.892368e+01,4.936212e+01,5.066453e+01,5.245943e+01,5.368258e+01,5.480188e+01,5.577729e+01,...,5.801215e+01,5.827996e+01,5.922148e+01,5.991843e+01,6.018849e+01,6.071568e+01,61.287616,61.678307,62.120036,232
35083,East Asia & Pacific,"Government expenditure per student, primary (%...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.452409e+01,1.353380e+01,1.738744e+01,1.899956e+01,1.873664e+01,1.691160e+01,NaN,NaN,NaN,200
35284,East Asia & Pacific,"Labor force participation rate for ages 15-24,...",5.930585e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.005691e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212
35496,East Asia & Pacific,"Labor force participation rate for ages 15-24,...",6.299629e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.676237e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212

In [4]:
# East_Asia_Pacific.to_excel(file_east_asia, sheet_name = 'East Asia & Pacific')

# file_east_asia.save()

In [5]:
# data_main_countries = data[(data['Country Name'] == 'Russian Federation')| (data['Country Name'] == 'Canada')| (data['Country Name'] == 'United States')| (data['Country Name'] == 'China')| (data['Country Name'] == 'Brazil')| (data['Country Name'] == 'Australia')| (data['Country Name'] == 'India')| (data['Country Name'] == 'Euro area')| (data['Country Name'] == 'United Kingdom')]
# data_main_countries.to_csv('data main countries.csv')

In [6]:
region = pd.read_csv('159 indicators for all the countries 2000 to 2016.csv')
eap = region[(region['Country Name'] == 'China') | (region['Country Name'] == 'Japan') | 
               (region['Country Name'] == 'Vietnam') |  (region['Country Name'] == 'Korea, Dem. People\'s Rep.') | 
               (region['Country Name'] == 'Korea, Rep.') | (region['Country Name'] == 'Philippines') | 
               (region['Country Name'] == 'Australia') | (region['Country Name'] == 'New Zealand') | 
               (region['Country Name'] == 'Singapore')]
# region_countries = ['China', 'Japan', 'Vietnam', ]
eap.drop(columns = {'Unnamed: 0', 'Country Code', 'Indicator Code'}, inplace = True)
eap.sort_values(by = 'Country Name', inplace = True)
# eap.set_index('Indicator Name', inplace = True)
eap.append(East_Asia_Pacific)

c:\python36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\python36\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,number of countries
52,Australia,"Adjusted net enrollment rate, primary, female ...",95.600311,95.591469,95.627419,96.159721,96.428680,96.767410,96.951210,97.553162,...,97.513809,97.629608,98.151077,97.921494,97.639442,97.363800,97.480904,NaN,NaN,223
6966,Australia,"Employment in agriculture, male (% of male emp...",6.100000,5.800000,5.400000,4.900000,4.500000,4.400000,4.300000,4.200000,...,4.200000,4.100000,3.700000,3.800000,3.700000,3.700000,3.700000,3.600000,3.600000,232
29383,Australia,"School enrollment, tertiary, female (% gross)",73.951660,73.961182,83.500603,81.267532,79.584930,80.805008,80.673462,82.391678,...,88.934517,94.455399,97.795128,100.404228,101.673409,106.308807,NaN,NaN,NaN,226
7198,Australia,"Employment in industry, female (% of female em...",10.500000,10.000000,10.000000,10.000000,9.700000,9.800000,9.400000,9.400000,...,9.200000,8.900000,8.000000,7.600000,8.900000,8.700000,8.600000,8.300000,8.200000,232
29157,Australia,"School enrollment, tertiary (gross), gender pa...",1.225420,1.226570,1.222330,1.233900,1.240020,1.258620,1.284880,1.302910,...,1.358450,1.380990,1.393960,1.405290,1.403120,1.409890,NaN,NaN,NaN,226
7430,Australia,"Employment in industry, male (% of male employ...",30.600000,29.600000,29.799999,29.900000,30.700001,30.799999,31.000000,31.000000,...,31.000000,30.799999,30.000000,29.900000,33.700001,33.299999,32.799999,32.299999,32.000000,232
28948,Australia,"School enrollment, secondary, male (% net)",NaN,NaN,86.868179,85.372841,84.919830,83.044579,82.393723,82.476273,...,84.292252,84.702003,84.990936,84.689270,85.571007,86.401520,NaN,NaN,NaN,208
7662,Australia,"Employment in services, female (% of female em...",86.000000,86.599998,86.900002,87.400002,87.599998,87.800003,88.300003,88.400002,...,88.599998,88.800003,90.000000,90.400002,89.300003,89.500000,89.699997,90.000000,90.199997,232
28714,Australia,"School enrollment, secondary, male (% gross)",161.588638,155.357727,155.665237,157.085220,151.549606,150.105423,127.469810,125.999649,...,131.483932,134.421707,136.387833,139.095383,141.235336,141.254013,NaN,NaN,NaN,235
7894,Australia,"Employment in services, male (% of male employ...",63.299999,64.599998,64.699997,65.199997,64.800003,64.900002,64.699997,64.800003,...,64.800003,65.099998,66.300003,66.300003,62.700001,63.099998,63.500000,64.000000,64.400002,232
28505,Australia,"School enrollment, secondary, female (% net)",NaN,NaN,89.902367,87.996246,87.753822,87.020859,86.510750,86.562820,...,87.793251,87.881287,87.911301,87.647331,88.178047,88.822372,NaN,NaN,NaN,208
8126,Australia,"Employment to population ratio, 15+, female (%...",51.500000,51.700001,52.000000,52.700001,52.700001,54.099998,54.799999,55.500000,...,55.599998,55.599998,55.900002,55.700001,55.400002,55.099998,55.000000,55.099998,55.000000,232
28271,Australia,"School enrollment, secondary, female (% gross)",163.691727,154.587326,152.872284,155.244476,148.222046,146.496826,127.303070,126.762978,...,129.059601,130.339508,131.989243,134.502625,133.671310,133.629272,NaN,NaN,NaN,235
8337,Australia,"Employment to population ratio, 15+, female (%...",51.200001,51.500000,51.799999,52.599998,52.599998,54.000000,54.700001,55.299999,...,55.599998,55.500000,55.700001,55.599998,55.400002,55.000000,55.400002,55.799999,NaN,211
28036,Australia,"School enrollment, secondary (gross), gender p...",1.013020,0.995040,0.982060,0.988280,0.978040,0.975960,0.998690,1.006060,...,0.981560,0.969630,0.967750,0.966980,0.946440,0.946020,NaN,NaN,NaN,235
8569,Australia,"Employment to population ratio, 15+, male (%) ...",67.800003,67.099998,67.300003,67.500000,67.900002,68.699997,68.900002,69.699997,...,68.199997,68.800003,68.699997,68.099998,67.300003,66.800003,66.599998,66.800003,66.699997,232
27812,Australia,"School enrollment, primary, male (% net)",92.681702,92.449631,92.500862,93.097130,93.574440,94.155548,94.636452,95.585350,...,96.088509,96.509689,97.303040,97.310577,97.188622,96.840889,96.747238,NaN,NaN,223
8780,Australia,"Employment to population ratio, 15+, male (%) ...",67.400002,66.800003,67.099998,67.300003,67.699997,68.599998,68.900002,69.599998,...,68.199997,68.699997,68.599998,68.000000,67.300003,66.699997,66.800003,66.599998,NaN,211
27574,Australia,"School enrollment, primary, male (% gross)",99.314453,99.135933,100.076233,100.229019,100.944832,101.646019,102.421593,104.576172,...,105.228378,105.796509,106.171509,106.765030,106.881866,106.376694,102.315804,NaN,NaN,239
9003,Australia,"Employment to population ratio, 15+, total (%)...",59.200001,59.000000,59.299999,59.799999,60.000000,61.200001,61.700001,62.299999,...,61.799999,62.000000,62.099998,61.700001,61.200001,60.700001,61.000000,61.099998,NaN,229
27350,Australia,"School enrollment, primary, female (% net)",95.500183,95.478371,95.430008,95.973389,96.259338,96.573593,96.792908,97.396469,...,97.365150,97.497543,98.032867,97.801804,97.531372,97.256088,97.334160,NaN,NaN,223
9241,Australia,"Employment to population ratio, ages 15-24, fe...",61.200001,60.599998,60.200001,61.200001,61.599998,62.299999,62.900002,63.299999,...,60.700001,59.799999,60.299999,59.500000,58.599998,57.400002,57.900002,58.299999,58.299999,232
27112,Australia,"School enrollment, primary, female (% gross)",101.440742,101.457672,102.311180,102.404282,102.885536,103.187271,103.641472,105.420593,...,105.415131,105.606491,105.801781,106.125221,106.237259,105.758690,102.093880,NaN,NaN,239
9473,Australia,"Employment to population ratio, ages 15-24, ma...",62.900002,61.599998,61.599998,62.200001,62.700001,64.199997,64.500000,65.000000,...,61.799999,61.500000,60.799999,59.799999,58.599998,57.400002,57.500000,57.799999,58.000000,232
26878,Australia,"School enrollment, primary and secondary (gros...",1.018830,1.009230,1.001080,1.003850,0.996480,0.992830,1.004420,1.006350,...,0.989970,0.981820,0.979950,0.978350,0.967550,0.967950,NaN,NaN,NaN,234
9706,Australia,"Expected years of schooling, female",20.962410,20.487850,20.799910,20.977110,20.588659,20.569450,19.439159,19.605240,...,19.986429,20.321301,20.653481,20.939730,20.912291,20.945499,NaN,NaN,NaN,225
29609,Australia,"School enrollment, tertiary, male (% gross)",60.347980,60.299229,68.312630,65.862396,64.180389,64.201019,62.786579,63.236778,...,65.467560,68.396896,70.156212,71.447227,72.462387,75.402046,NaN,NaN,NaN,226
6734,Australia,"Employment in agriculture, female (% of female...",3.500000,3.500000,3.100000,2.600000,2.700000,2.400000,2.300000,2.200000,...,2.300000,2.300000,2.000000,1.900000,1.800000,1.800000,1.700000,1.700000,1.700000,232
29836,Australia,"Secondary education, pupils (% female)",48.890240,48.390308,48.009838,48.103168,47.755890,47.591808,48.062000,48.193890,...,47.605961,47.366589,47.372990,47.406960,46.932270,47.000820,NaN,NaN,NaN,244
6502,Australia,"Employers, male (% of male employment) (modele...",9.300000,9.500000,9.300000,9.100000,9.100000,9.200000,8.900000,8.300000,...,8.600000,8.600000,8.100000,8.000000,8.000000,8.000000,7.800000,7.900000,7.800000,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28222,East Asia & Pacific,"School enrollment, secondary, female (% gross)",61.392929,61.423431,61.887939,63.491390,65.367790,66.847008,69.119431,73.019508,...,79.192047,81.339211,84.264297,86.537781,88.965439,88.320633,NaN,NaN,NaN,235
28457,East Asia & Pacific,"School enrollment, secondary, female (% net)",63.680714,65.145615,65.582085,67.312325,69.102417,70.416069,70.259239,71.223953,...,70.645058,71.994118,73.949776,74.827888,76.277550,78.880882,NaN,NaN,NaN,208
28665,East Asia & Pacific,"School enrollment, secondary, male (% gross)",64.460007,64.162682,64.329018,65.662582,66.804848,67.575737,69.191994,72.798439,...,78.133774,81.653091,84.386787,86.157692,88.777489,87.582062,NaN,NaN,NaN,235
28900,East Asia & Pacific,"School enrollment, secondary, male (% net)",67.801750,68.445625,67.805534,68.501678,69.077026,69.190804,68.525024,69.120636,...,68.231049,69.326279,70.943413,71.397728,73.252960,75.613045,NaN,NaN,NaN,208
29108,East Asia & Pacific,"School enrollment, tertiary (gross), gender pa...",0.845070,0.832460,0.864530,0.873140,0.898910,0.908350,0.943140,0.981320,...,1.018510,1.033170,1.044350,1.072810,1.095850,1.118430,NaN,NaN,NaN,226
29334,East Asia & Pacific,"School enrollment, tertiary, female (% gross)",14.160200,15.473080,17.592569,19.383129,21.121450,22.173300,23.304510,24.228800,...,26.641020,28.247511,29.681681,32.223980,34.890060,41.426239,NaN,NaN,NaN,226
29560,East Asia & Pacific,"School enrollment, tertiary, male (% gross)",16.756260,18.587271,20.349239,22.199459,23.496710,24.410580,24.709570,24.690090,...,26.156750,27.340521,28.421320,30.037020,31.838470,37.039471,NaN,NaN,NaN,226
29786,East Asia & Pacific,"Secondary education, pupils (% female)",47.452400,47.495129,47.541969,47.590931,47.810589,48.001411,48.152821,48.193481,...,48.327911,47.839241,47.855350,47.959530,47.862320,47.972382,NaN,NaN,NaN,244
30030,East Asia & Pacific,"Secondary education, teachers (% female)",42.886600,44.311630,44.309139,45.007011,45.315369,46.245689,46.507179,47.286091,...,48.711231,49.361931,50.662090,51.039749,51.366650,52.011108,NaN,NaN,NaN,225
30255,East Asia & Pacific,"Self-employed, female (% of female employment)...",56.136684,55.236324,54.549281,53.243591,51.440061,50.441759,49.215224,48.093812,...,45.625214,45.113011,44.162706,43.329144,42.682229,41.894881,41.073928,40.454524,39.651693,232
30487,East Asia & Pacific,"Self-employed, male (% of male employment) (mo...",51.729586,51.076319,50.637881,49.335468,47.540570,46.317420,45.198124,44.222714,...,41.987847,41.720040,40.778515,40.081569,39.811508,39.284318,38.712384,38.321693,37.879964,232
30719,East Asia & Pacific,Sex ratio at birth (male births per female bir...,NaN,NaN,1.111257,NaN,NaN,NaN,NaN,1.116948,...,1.115520,1.114203,1.113509,1.113035,1.111992,1.111468,1.109821,NaN,NaN,240
31160,East Asia & Pacific,"Start-up procedures to register a business, fe...",NaN,NaN,NaN,7.869565,7.791667,7.791667,8.440000,8.400000,...,7.920000,7.640000,7.120000,7.346154,7.627586,7.482759,6.862069,6.696552,6.593103,235
31395,East Asia & Pacific,"Start-up procedures to register a business, ma...",NaN,NaN,NaN,7.826087,7.750000,7.750000,8.360000,8.320000,...,7.840000,7.560000,7.040000,7.269231,7.558621,7.413793,6.793103,6.627586,6.524138,235
31630,East Asia & Pacific,"Tertiary education, academic staff (% female)",35.202450,35.503971,35.682468,35.790001,35.930099,37.465229,36.946411,38.004791,...,39.455559,39.993759,40.648190,40.548111,NaN,NaN,NaN,NaN,NaN,213
31843,East Asia & Pacific,"Time required to start a business, female (days)",NaN,NaN,NaN,39.260870,42.708333,42.916667,45.760000,42.840000,...,39.460000,36.500000,32.800000,33.807692,34.589655,30.637931,23.889655,21.465517,20.334483,235
32078,East Asia & Pacific,"Time required to start a business, male (days)",NaN,NaN,NaN,39.217391,42.666667,42.875000,45.680000,42.760000,...,39.380000,36.420000,32.720000,33.730769,34.520690,30.568966,23.820690,21.396552,20.265517,235
32313,East Asia & Pacific,"Unemployment, female (% of female labor force)...",4.121282,4.479965,4.431664,4.516525,4.470952,4.301632,4.199826,3.868919,...,4.077729,3.995357,3.988280,3.915274,3.880638,3.950043,3.880750,3.761436,3.781805,232
32764,East Asia & Pacific,"Unemployment, male (% of male labor force) (mo...",4.957954,5.152018,5.141904,5.042712,5.048892,4.904558,4.668792,4.435057,...,4.841890,4.620847,4.688406,4.677673,4.721103,4.682915,4.667566,4.587911,4.657743,232
33215,East Asia & Pacific,"Unemployment, youth female (% of female labor ...",10.037517,11.003937,11.200647,11.121288,11.289546,11.316026,11.216789,10.031938,...,10.545282,10.136977,10.464367,10.226484,10.752071,10.489585,10.623283,10.228785,10.379120,232
33447,East Asia & Pacific,"Unemployment, youth male (% of male labor forc...",11.725779,12.065459,12.334631,12.007415,12.122597,11.835312,11.789660,10.919029,...,11.869292,11.500058,11.732490,11.517180,11.901312,11.805132,12.105548,11.749040,11.916026,232
33679,East Asia & Pacific,"Urban population, female (% of total)",20.566714,NaN,NaN,NaN,NaN,23.168005,NaN,NaN,...,NaN,25.666123,NaN,NaN,NaN,NaN,27.988314,NaN,NaN,239
33918,East Asia & Pacific,"Urban population, male (% of total)",20.972675,NaN,NaN,NaN,NaN,23.697892,NaN,NaN,...,NaN,26.377526,NaN,NaN,NaN,NaN,28.860528,NaN,NaN,239
34157,East Asia & Pacific,"Vulnerable employment, female (% of female emp...",55.264091,54.278816,53.575832,52.266070,50.361554,49.182996,47.936585,46.718298,...,44.013014,43.403380,42.296397,41.410922,40.713389,39.888088,39.046651,38.428015,37.543014,232
34389,East Asia & Pacific,"Vulnerable employment, male (% of male employm...",48.633019,47.810655,47.337837,45.921610,43.924247,42.338089,40.915093,39.848037,...,37.021619,36.501479,35.195972,34.393128,34.155907,33.597183,33.052925,32.708959,32.118320,232
34621,East Asia & Pacific,"Wage and salaried workers, female (% of female...",43.863316,44.763675,45.450719,46.756410,48.559940,49.558241,50.784776,51.906187,...,54.374786,54.886989,55.837294,56.670856,57.317771,58.105119,58.926071,59.545476,60.348308,232
34853,East Asia & Pacific,"Wage and salaried workers, male (% of male emp...",48.270415,48.923680,49.362119,50.664531,52.459429,53.682579,54.801876,55.777286,...,58.012153,58.279960,59.221485,59.918431,60.188491,60.715682,61.287616,61.678307,62.120036,232
35083,East Asia & Pacific,"Government expenditure per student, primary (%...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.524095,13.533795,17.387440,18.999556,18.736645,16.911604,NaN,NaN,NaN,200
35284,East Asia & Pacific,"Labor force participation rate for ages 15-24,...",59.305853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.056906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212
35496,East Asia & Pacific,"Labor force participation rate for ages 15-24,...",62.996292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,56.762375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212

In [25]:
# eap['gender'] = []
def uni_gender(data):
    for index, row in data.iterrows():
        if ', male ' in row['Indicator Name']:
            row['Indicator Name'].replace(', male ', '')
            data.set_value(index, 'Gender', 'M')
        elif ', female ' in row['Indicator Name']:
            row['Indicator Name'].replace(', female ', '')
            data.set_value(index, 'Gender', 'F')
        else:
            data.set_
    return data
        
eap = uni_gender(eap)
eap

c:\python36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
c:\python36\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

AttributeError: 'DataFrame' object has no attribute 'set'